server:
  port: 8088
  servlet:
    context-path: '/@project.name@'
  shutdown: graceful

spring:
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/changelog-master.xml

  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev} # Specify the active profile

  application:
    name: '@project.name@'
  lifecycle:
    timeout-per-shutdown-phase: 25s

  output:
    ansi:
      enabled: always

springdoc:
  swagger-ui:
    path: /ui
  title: 'Customer API - v@project.version@'
  version: '@springdoc-openapi-starter-webmvc-ui.version@'
openapi:
  output:
    file: 'openapi-@project.name@-v@project.version@.json'
