spring:
  datasource:
    url: "${SPRING_DATASOURCE_URL:jdbc:h2:file:./data/customer-db;AUTO_SERVER=true}"
    username: "${SPRING_DATASOURCE_USERNAME:sa}"
    password: "${SPRING_DATASOURCE_PASSWORD:pass}"
    driver-class-name: org.h2.Driver
  jpa:
#    show-sql: true
    properties:
      hibernate:
        format_sql: true
    generate-ddl: false
    hibernate:
      ddl-auto: validate
  h2:
    console:
      enabled: true
